.title-card {
    background: #33B5E5;
    color: #ccc;
    display: table;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;

}

.title-card > .in {
    display: table-cell;
    vertical-align: middle;
}

.title-card .headline {
    display: inline-block;
    line-height: 1.7;
    max-width: 800px;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    vertical-align: middle;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.title-card h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.3em;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

.title-card p {
    color: #b8eaea;
    font-family: montserrat, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.title-card .and-time-picker {
    border: 5px solid #ccc;
    margin: 40px auto 0;
}

@media (max-width: 480px) /* Mobile */ {
    .title-card {
        padding: 50px 0;
    }

    .title-card .headline {
        min-height: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title-card h1 {
        font-size: 2.2em;
    }

    .title-card p {
        font-size: 1.1em;
    }
}
